.fullWidthNavBar {
  width: 100%;
  background-color: rgb(104, 99, 99);
  display: flex;
  gap: 1rem;
  color: white;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.navBarList {
  display: flex;
  color: white;
  padding: 1rem;
  justify-content: center;
}
.navTitle {
  cursor: pointer;
  :hover {
    color: red;
    background-color: red;
  }
}
.loginButton {
  padding: 0.5rem;
  width: 8rem;
  /* background-color: aqua; */
  color: white;
  background-color: black;
  border: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
}
.loginLogoutButton
{
  float: right;
}